node_modules
vendor
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
.git
.gitignore
.env
.idea
.vscode
npm-debug.log
yarn-error.log
pnpm-debug.log
*.sqlite
